{% extends "base.html" %}
{% load  thumbnail %}

{% block title%} People {% endblock %}
{%  block content %}
    <div id="people-list">
    {% for user in users %}
        <div class="user">
            <a href="{{ user.get_absolute_url }}">
                {% thumbnail user.profile.photo  "180" crop="100%"    as im %}
                    <img src="{{ im.url }}">
                {% endthumbnail %}
            </a>
            <div class="info">
                <a href="{{ user.get_absolute_url }}" class="title">
                    {{ user.first_name }}
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}